*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Onest', sans-serif;
    font-size: 62.5%;
}

/*Colors*/

:root{
    --greenBackground: #B7CE2F;
    --whiteBackground: #F1F1F1
    --blackLyric : #2D2D2D;
    --whiteLyric: #f2f2f2;
}

header{
   
    height: auto;
   width: 100%;
}

.hide{
    display: none;
    visibility: hidden;
}

.header__content{
    display: flex;
    justify-content: end;
    padding: 12px 16px;
    align-items: center;
}


.header__content p{
    font-size: 1.3rem;
    color: var(--blackLyric);
    margin-left: 8px;
    font-weight: 400;
    cursor: pointer;
    padding: 4px 5px;
    border-radius: 4px;
    border: 1.8px solid var(--greenBackground);
    letter-spacing: 0.05rem;
    font-weight: 400;
}

.header__content p:hover{
    transform: scale(0.94);
    font-weight: 500;
    background-color: transparent;
    border: none;
    background-color: var(--greenBackground);
}


.header__content--network{
    display: flex;
    color: var(--blackLyric);
    align-items: center;
    
    margin-left: 16px;
}

.header__content--network::before{
    content: '|';
    font-size: 1.8rem;
    
}

.header__content--network span{
    margin-left: 5px;
    display: inline-block;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    cursor: pointer; 
    width: 30px;
    height: 30px;
}

.header__content--network span:hover{
    transform: scale(1.15);
}

.header__content--network span img{
    width: 30px;
    height: 30px;
}



.header__content--network span:nth-child(2){
    background-image: url('./Assets/icons/icons8-instagram.gif');
    
    
}

.header__content--network span:nth-child(3){
    background-image: url('./Assets/icons/icons8-email.gif');
    
}
.contact_us{
    background-color:aqua; /*es para que no te confundas*/

}

.services__container{
    padding: 12px 0;
}

.services__text{
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 0 auto;
} 



.services__text p:nth-child(1){
    font-size: 1.8rem;
    margin-bottom: 8px;
    text-align: center;
    font-weight: 500;
    
}

.services__text p:nth-child(2){
    font-size: 1.2rem;
    width: 90%;
    margin: 0 auto;
    text-align: justify;
}

/* Front card styles */
.services__cards{
    display: grid;
    grid-template-columns: repeat(3 , 1fr);
    padding: 24px 25px 12px;
    gap: 12px;
    place-items: center;
    overflow-x: scroll;
    overflow-y: hidden;
}

.services__card{
    width: 250px;
    height: 340px;
    position: relative;
    transform-style: preserve-3d;
    transition: all ease-in-out 1.2s;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  }

   

  .face {
    backface-visibility: hidden;
    width: 100%;
    height: 100%;
    border-radius: 8px;
    position: absolute;
    
  }


  .services__card--back{
    transform: rotateX(180deg);
    
  }



.services__card--front{
    padding: 12px;
}




.subscribe__img{
    padding: 16px 0;
    display: flex;
    justify-content: center;
}

.subscribe__img span{
    display: inline-block;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-image: url('./Assets/img/uxCard.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.subscribe__text{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2px;
}

.subscribe__text p:nth-child(1){
    font-size: 1.6rem;
    font-weight: 500;
    letter-spacing: 0.1rem;
    color: var(--blackLyric);

}

.subscribe__text p:nth-child(2){
    font-size: 1rem;
    letter-spacing: 0.1rem;
}

.subscribe__services{
    padding: 12px 0;
    display: flex;
    justify-content: space-between;
}

.subscribe__services span{
    font-size: 1.2rem;
    font-weight: 500;
    border: 1px solid var(--greenBackground);
    padding: 4px 12px;
    border-radius: 8px;
    cursor: pointer;
}

.subscribe__services span:hover{
    border: none;
    background-color: var(--greenBackground);
    transform: scale(0.9);
}

.subscribe__desc{
    margin-bottom: 20px;
}

.subscribe__desc p{
    text-align: justify;
    font-size: 1.2rem;
    font-weight: 300;
}

.subscribe__btn{
    display: flex;
    justify-content: center;
    
}

.subscribe__btn button{
    border: none;
    background-color: var(--greenBackground);
    padding: 4px 12px;
    border-radius: 8px;
    font-size: 1.2rem;
    font-weight: 500;
    letter-spacing: 0.1rem;
    opacity: 0.5;
    cursor: pointer;
    
}

.subscribe__btn button:hover{
    opacity: 1;
}



.services__card--back__title{
    background-color: #829323;
    width: 100%;
    padding: 12px;
    height: 340px;
    border-radius:8px ;
}

.services__card--back__cards{
   background-color: rgb(27, 27, 27);
    padding: 12px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    height: 340px;
}

.service__hero{
    display: flex;
    flex-direction: column;
}

.services__card--back__title{
    animation-name: opacityTitleIn;
    animation-name: opacityTitleOut;
    
}

@keyframes opacityTitleIn{
    from{
        opacity: 0;

    }

    to{
        opacity: 1;

    }
}

@keyframes opacityTitleOut{
    from{
        opacity: 1;

    }

    to{
        opacity: 0;

    }
}

.services__card--back__title span:nth-child(1){
    display: inline-block;
    width: 100px;
    align-self: center;
    height: 100px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 12px;  
    margin-top: 16px;
    border-radius: 50%;
 
}

.services__card--back__title h2:nth-child(2){
    font-size: 1.3rem;
    text-align: center;
    font-weight: 500;
    color: var(--blackLyric);
    margin-bottom: 2px;
    letter-spacing: 0.1px;
    
}

.services__card--back__title p:nth-child(3){
    font-size: 1rem;
    color: var(--blackLyric);
    text-align: center;
    font-weight: 300;
    margin-bottom: 16px;
    letter-spacing: 0.1px;
}

.service__action{
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-top: 0px;
}



.service__action--text p{
    font-size: 1.1rem;
    color: var(--blackLyric);
    text-align: justify;
    font-weight: 300;
    
}
.service__action--btn{
    align-self: center;
    justify-self: end;
}

.service__action--btn button{
    background-color: var(--greenBackground);
    border: none;
    padding: 5px 12px;
    color: var(--blackLyric);
    font-size: 1.1rem;
    letter-spacing: 0.2rem;
    border-radius: 8px;
    font-weight: 400;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(76, 86, 19, 0.9);
    font-family: inherit;
}


.services__card--back__item{
    margin-bottom: 9px;
    padding: 8px;
    border-radius: 8px;
    
}

.services__card--back__item h2{
    font-size: 1.3rem;
    margin-bottom: 4px;
    text-align: center;
    font-weight: 400;
    letter-spacing: 0.8px;
}

.services__card--back__item p:nth-child(1){
    font-size: 1.3rem;
    opacity: 0.9;
}

.services__card--back__item p{
    font-size: 1.1rem;
    padding-bottom: 4px;
    text-align: justify;
    font-weight: 300;
    opacity: 0.7;
}

.services__card--back__hero{
    /* display: flex; */
    justify-content: space-between;
    align-items: center;
    margin-bottom: 4px;
}

.services__card--back__cards > div:nth-child(1), .services__card--back__cards > div:nth-child(2), .services__card--back__cards > div:nth-child(3){
    box-shadow: 0px 1px 5px rgba(183, 206, 47, 0.4);
    color: var(--whiteLyric);
    background-color: rgb(40, 40, 40);
}





.services__card--back__cards div:nth-child(4){
    box-shadow: none;
    align-self: center;
    margin-top: 20px;
}

.services__card--back__cards div:nth-child(4) button{
    border: none;
    box-shadow: 0px 1px 5px rgba(183, 206, 47, 0.4);
    color: var(--whiteLyric);
    background-color: rgb(40, 40, 40);
    padding: 4px 16px;
    border-radius: 8px;
    font-size: 1.2rem;
    font-weight: 400;
    letter-spacing: 0.2rem;
    cursor: pointer;
}

.services__card--back__cards div:nth-child(4) button:hover{
    opacity: 1;
}

/*Experience credentials*/

.services__credentials{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    place-items: center;
    gap: 16px;
    margin: 16px auto;
}

.services__credentials--item{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
}

.services__credentials--item p:first-child{
    font-size: 1.5rem;
    color: var(--greenBackground);
    font-weight: 600;
}

.services__credentials--item p:first-child>span{
    font-size: 1.8rem;
    padding-left: 3px;
    position: relative;
    top: 2px;
}

.services__credentials--item p:last-child{
    font-size: 1rem;
    text-align: center;
}

.stard {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    padding: 40px 20px;
    background-color: #f5f5f5;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
   }

.contact_us{
    font-size: 28px;
    color: #333;
    margin-bottom: 20px;
   }
   section button {
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
   } 

.contacto{
    background-color: #0056b3;
   }   

    