.services__credentials{
    grid-template-columns: repeat(4,1fr);
    width: 100%;
    
}

.services__cards{
    padding: 24px 36px 12px;
}

.services__text p:nth-child(2){
    text-align: center;
}

.contact__container{
    display: grid;
    grid-template-columns:repeat(2,1fr);
}


/*Card services Style*/

.services__explain--cards__all div{
    width: 100%;
}
.services__explain--cards__all{
    grid-template-columns: repeat(2,1fr);
    width: 90%;
    margin: 0 auto;
}

.services__explain--text p{
    text-align: center;
    width: 85%;
    margin: 0 auto;
}

.services__explain--cards__design , .services__explain--cards__marketing , .services__explain--cards__content , 
.services__explain--cards__finance {
    display: flex;
    flex-direction: column;
    width: 70%;

}

